@charset "utf-8";
/* CSS Document */
#header{
	position:fixed;
}
#moto{
	position:relative;
	top:-40px;
	left:100px;
	width:250px;
}
div#moto>p{
	font-size:18px;
	color:#333;
	font-style:italic;
}
div#mainbody{
	position:relative;
	border:5px solid gray;
	padding-top:30px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:10px;
	width:250px;
	top:130px;
	left:480px;
	color:#333;
	
}
div#footer{
	position:fixed;
	width:250px;
	padding-top:60px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	text-align:center;
	font-size:18px;
	left:480px;
	top:600px;
}


	

